.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.footer{
  display: flex;
  /* left: 0; */
  margin-left: 20px;
  

}

.footer> :nth-child(1) {
  margin-right: 5px;
}

.footer> :nth-child(2) {
  margin-right: 5px;
}

.sourceforms {
  margin-top: 5px;
  border-radius: 5px;
  background-color: #b4b4b4;
}

.innerform {
  border-radius: 5px;
  background-color: white;
}

.navbar {
  border: 2px solid black !important;
  border-radius: 15px;
  margin-left: 50px;
  margin-top: 50px;
}

.baseformlabel1 {
  position: relative;
  left: 12px;
  display: flex;
  font-family: "Times New Roman";
}

.baseformlabel2 {
  position: relative;
  left: 12px;
  display: flex;
  font-family: "Times New Roman";
}

.baseformlabel3 {
  position: relative;
  left: 12px;
  display: flex;
  font-family: "Times New Roman";
}

.joiningformlabel1 {
  position: relative;
  left: 12px;
  display: flex;
  font-family: "Times New Roman";
}

.joiningformlabel2 {
  position: relative;
  left: 12px;
  display: flex;
  font-family: "Times New Roman";
}

.joiningformlabel3 {
  position: relative;
  left: 12px;
  display: flex;
  font-family: "Times New Roman";
}


/* .custom-nav-link {
  border: 1px solid black;
  background-color: red;  
 
  color: #fff;
 
  border: 2px solid lightblue;
} */


#formGridCheckbox {
  display: flex;
}

.nav-link{
  border: 1px solid burlywood;
}

.tab {
  border: 1px solid #0d6efd !important;
  border-radius: 5px;
  margin-top: 10px;
  margin-left: 20px;
}

.tab.active {
  background-color: #0d6efd;
  color: white !important;
}